@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/*----------------------- GERAL E HOME ----------------------------*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Century Gothic';
}

::-webkit-scrollbar{
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track{
    background-color: #E7E7E7;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #000;
    border: #fff solid 1px;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #BB0000;
  }

body{
    background-color: #000;
    color:#fff;
    margin: 0px auto;
}

.home{
    width: 100%;
    background-color: #BB0000;
}

main , nav{
    max-width: 980px;
    margin: 0 auto; 
}

h1{
    color: #fff;
    font-weight: 400;
    line-height: 78px;
    float: left;
}

h2{
    font-weight: 400;
    color: #fff;
    font-size: 24px;
}

p {
    color: #fff;
}

header{
    color: #fff;
    font-weight: 400;
    font-size: 32px;
    width: 100%;
}

header nav{
    display: flex;
    flex-direction: row;
}

.nome_marca{
    width: 72%;
}

.botao_admin{
    margin-left: 20px;
}

header a{
    color: #fff;
    margin-left: 29px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
}

img{
    width: 250px;
    border-radius: 8px;
}

.info{
    margin-bottom: 20px;
}

.cartaz_info a{
    padding: 8px 16px;
    margin: 3px;
}

header p{
    text-decoration: none;
    color: #fff;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.horario{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 60px;
    transition: 0.2s;
    border: #BB0000 solid 2px;
    border-radius: 8px;
}

.horario:hover{
    background: #BB0000;
    color: aliceblue;
    box-shadow: 0 0 25px #BB0000;
    transition-delay: 0.1s ;
}

main h1{
    line-height: 0px;
    text-transform: uppercase;
}

.tipo, .genero{
    width: 15%;
    padding: 8px 16px;
    margin: 3px;
    letter-spacing: 1px;
    font-size: 14px;
    border: #BB0000 solid 2px;
    border-radius: 8px;
    margin: 10px 0px 0px 0px;
}

.tipo{
    background-color: #BB0000;
    border: #BB0000 solid 2px;
    width: 15%;
}

.genero{
    border: #ffffff solid 1px;
}

.titulo_filme{
    width: 100%;
    height: 9%;
    display: flex;
    align-items: center;
}

.conteudo_filme{
    width: 100%;
    height: 90%;
}

.cartaz{
    width: 100%;
    display: flex;
    margin:64px 0px 0px 0px;
}

.cartaz_info{
    width: 80%;
    display: flex;
    margin: 0px 0px 0px 20px;
    align-items: center;
    flex-wrap: wrap;
}

.info p{
    background-color: #000;
}

input{
    width: 30px;
    height: 30px;
    margin: 5px 5px;
}

.camposenha{
    width: 100px;
    color: #000
}

#submit{
    width: 100px;
    color: #000;
}

/*----------------------- POLTRONAS ----------------------------*/

.escolha_poltrona{
    display: flex;
    margin: 0px auto;
}

#form_poltronas{
    margin: 0px auto;
}

.a_coluna{
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin: 0px 32px 0px 24px;
}

.a_linha{
    color: #fff;
    font-size: 16px;
    padding-bottom: 5px;
    font-weight: 700;
}

.tela{
    font-weight: 700;
    font-size: 20px ;
    letter-spacing: 10px;
    margin: 0px 0px 0px 310px;
}

.check{
    margin: 10px 10px 10px 10px;
    width: 45px;
    height: 45px;
}
