<header class="home">
    <nav>
        <h1 class="nome_marca">CINECINE</h1>
        {% extends "layout.html" %}
        {% block content %}
    </nav>
</header>
<main>
    <div class="faturamento">
        <h2>Faturamento do cinema: </h2>
        {% for tipo in dados_faturamento  %}
            <p> {{tipo}}: {{dados_faturamento[tipo]}} </p>
        {% endfor %}
        <a class="nova_sessao" href="{{ url_for('editar_sessao', id_sessao = '0') }}"><h2>ADICIONAR NOVA SESSÃO</h2></a>
    </div>
    <div>
        {% if sessions %}
            {% for filme in sessions %}
                <div class="cartaz">
                    <div class="cartaz_imagem">
                        <img src={{ sessions[filme][0][7] }}>
                    </div>
                    <div class="cartaz_info_edit">
                        <div class="titulo_filme">
                            <h1> {{ filme }} </h1>
                        </div>
                        <p class="idade"> {{ sessions[filme][0][5] }} </p>
                        {% for element in sessions[filme][0][0] %}
                            <p class="genero"> {{ element }} </p>
                        {% endfor %}
                            
                        <p class="sinopse"> {{ sessions[filme][0][6] }} </p>
                        <div class="conteudo_filme">
                        {% for sessao in sessions[filme] %}
                            <div class="identacao">
                                <!--href="{{ url_for('poltronas', horario = horario, id_sessao=sessao[4])}}" -->
                                {% if sessao[1] == True and sessao[2] == True %}
                                    <a href="{{ url_for('editar_sessao', id_sessao = sessao[4]) }}" class="tipo_edit">3D - LEG</a>
                                {% elif sessao[1] == True and sessao[2] == False %}
                                    <a href="{{ url_for('editar_sessao', id_sessao = sessao[4]) }}" class="tipo_edit">3D - DUB</a>
                                {% elif sessao[1] == False and sessao[2] == True %}
                                    <a href="{{ url_for('editar_sessao', id_sessao = sessao[4]) }}" class="tipo_edit">2D - LEG</a>
                                {% else %}
                                    <a href="{{ url_for('editar_sessao', id_sessao = sessao[4]) }}" class="tipo_edit">2D - DUB</a>
                                {% endif %}

                                {% for horario in sessao[3] %}
                                    <p class="horario_edit"> {{ horario }} </p>
                                {% endfor %}
                            </div>      
                        {% endfor %}
                    </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p> There are no movies to watch! </p>
        {% endif %}
    </div>
    {% endblock content %}
</main>

