<header class="home">
    <nav>
        <h1 class="nome_marca">CINECINE</h1>
        {% extends "layout.html" %}
        {% block content %}
    </nav>
</header>
    <main>
        <div>
            {% if sessao %}
                <div class="cartaz_edit">
                    <form method="POST" action="" class="form">
                        <div class="cartaz_imagem">
                            <img src={{ sessao.imagem }}>
                        </div>
                        <div class="cartaz_info_edicao">
                            {{ form.hidden_tag() }}
                            <fieldset>
                                
                                <div>
                                    <!-- form.something(class = "something to style") -->
                                    {{ form.titulo.label(class="label_titulo_filme") }}<br>
                                    {% if form.titulo.errors %}
                                        {{ form.titulo() }}
                                        <div>
                                            {% for error in form.titulo.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.titulo(class="titulo_filme") }}
                                    {% endif %}  
                                </div>
                            
                            </fieldset>
                            <fieldset>
                                
                                <div class="div_classificacao">
                                    <!-- form.something(class = "something to style") -->
                                    {{ form.classificacao.label(class="label_classificacao_filme") }}<br>
                                    {% if form.classificacao.errors %}
                                        {{ form.classificacao() }}
                                        <div>
                                            {% for error in form.classificacao.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.classificacao(class="classificacao_filme") }}
                                    {% endif %}  
                                </div>
                            
                            </fieldset>

                                <div class="cartaz_info_edit">
                                    {% for element in sessao.generos %}
                                        <p class="genero"> {{ element }} </p>
                                    {% endfor %}
                                    <p class="sinopse"> {{ sessao.description }} </p>
                                </div>
                        </div>
                        </div>
                        <div class="div_horario">
                            <fieldset>
                                <div class="escolha_horario">
                                    {% for horario in form.horarios %}
                                        <!-- form.something(class = "something to style") -->
                                        <!--{{ horario.label(class="classificacao_filme") }}-->
                                        <br>
                                        {% if horario.errors %}
                                            {{ horario() }}
                                            <div>
                                                {% for error in horario.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ horario(class="classificacao_filme") }}
                                        {% endif %} 
                                    {% endfor %} 
                                </div>
                            
                            </fieldset>

                        <div class="div_configuracao">
                            <fieldset>
                                <div>
                                    <!-- form.something(class = "something to style") -->
                                    {{ form.legenda.label(class="legenda_filme") }}<br>
                                    {% if form.legenda.errors %}
                                        {{ form.legenda() }}
                                        <div>
                                            {% for error in form.legenda.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.legenda(class="legenda_filme") }}
                                    {% endif %}  
                                </div>
                                
                            
                            </fieldset>
                            <fieldset>
                                
                                <div>
                                    <!-- form.something(class = "something to style") -->
                                    {{ form.DDD.label(class="DDD_filme") }}<br>
                                    {% if form.DDD.errors %}
                                        {{ form.DDD() }}
                                        <div>
                                            {% for error in form.DDD.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.DDD(class="DDD_filme") }}
                                    {% endif %}  
                                </div>
                            
                            </fieldset>
                        </div>
                </div>

                <div class="confirmar">
                    {{ form.confirmar() }}
                    {{ form.aplicar() }}
                    {{ form.cancelar() }}
                </div>
                
            </form>
                
            {% else %}
                <p> There are no movies to watch! </p>
            {% endif %}
        </div>
    </main>
    {% endblock content %}