{% extends "layout.html" %}
{% block content %}
    <h1>Home</h1>
    <p>Welcome to our movie theather!</p>
    <br>
    <div>
        {% if sessions %}
            {% for filme in sessions %}
                <h2> {{ filme }} </h2>
                {% for sessao in sessions[filme] %}
                    {% for i in range(sessao|length) %}
                        {% if i == 0 %}
                            {% for element in sessao[i] %}
                                <p> {{ element }} </p>
                            {% endfor %}
                        {% elif i == 1 %}
                            {% if sessao[i] == True and sessao[i + 1] == True %}
                                <p>3D - LEG</p>
                            {% elif sessao[i] == True and sessao[i + 1] == False %}
                                <p>3D - DUB</p>
                            {% elif sessao[i] == False and sessao[i + 1] == True %}
                                <p>2D - LEG</p>
                            {% else %}
                                <p>2D - DUB</p>
                            {% endif %}
                        {% elif i == 3 %}
                            {% for horario in sessao[i] %}
                                <a href="{{ url_for('poltronas', horario = horario, id_sessao=sessao[4])}}"> {{ horario }} </a>
                            {% endfor %}
                        {% elif i == 4 %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% else %}
            <p> There are no movies to watch! </p>
        {% endif %}
    </div>
{% endblock content %}